body {
    background-image:url('https://file.garden/ZnwfXL-zy2Zk1E4c/neocities-kikurireviews/Images/9fe761410b7f3483887d29fbf2c0bc09.gif');
    background-size:100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    height:100%;
    width:100%;
}